<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            background-color: lightcoral;
        }

        input::placeholder {
                 text-align: center;
                 font-size: 25px;
             }
    </style>
</head>
<body>
    <center>
        <form action="" style="margin-top: 50px;">
            <label for="pp"></label>
            <input type="search" name="pp" placeholder="project title" size="50" style="height: 50px;border-radius: 20px;">
        </form>

    <p style="border: solid 2px;border-radius: 20px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse cupiditate consequatur architecto eaque iusto vitae ipsam officiis. Sint, explicabo quas?</p>
</center>
</body>
</html>